body {
    background-color: #f6f1f1;
    margin: 0 0 0 0;
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
}

#topnav a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

#logo {
    width: 10%;
}

#navcontent {
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

#content1 {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inter', sans-serif;
}

#info {
    padding: 100px 50px 0 0;
    width: 40%;
}

#info h1 {
    font-size: 50px;
}

#info h3 {
    font-size: 25px;
    font-weight: 400;
}

#image {
    width: 100%;
}

#mid_logo {
    display: flex;
    justify-content: space-between;
    padding: 25px 100px 25px 100px;
}

#content2 {
    background-color: #19a7ce;
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;

}

#content2 h1 {
    font-size: 40px;
    color: #f6f1f1;
    padding: 40px 0 10px 20px;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.line h2 {
    font-weight: 500;
}

.language {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.bar progress {
    padding: 25px;
    width: 350px;
}

.edu_title h1 {
    font-size: 40px;
    padding: 40px 0 10px 20px;
}

.edu_left {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    max-width: 850px;
    font-family: 'Inria Sans', sans-serif;
}

.edu_logo {
    margin-right: 30px;
    margin-left: 30px;
}

.edu_left h5 {
    margin: 10px 0 10px 30px;
    font-size: 20px;
    font-weight: 300;
}

.edu_left h1 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
    font-weight: 700;
}

.edu_left h3 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
    font-weight: 300;
}

.edu_right {
    display: flex;
    justify-content: end;
    text-align: end;
    font-family: 'Inria Sans', sans-serif;
}

.edu_right h5 {
    margin: 10px 0 10px 30px;
    font-size: 20px;
    font-weight: 300;
}

.edu_right h1 {
    margin: 10px 0px 10px 30px;
    padding: 10px 0 10px 0px;
    font-weight: 700;
}

.edu_right h3 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
    font-weight: 300;
}


@media screen and (max-width:480px) {
    #topnav {
        flex-direction: column;
    }

    .edu_left {
        flex-wrap: wrap;
    }

    .edu_right {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: left;
    }

    .edu_logo {
        width: 50%;
    }

}

@media screen and (max-width:600px) {
    .edu_left {
        margin: 0;
    }

    .edu_right {
        margin: 0;
    }

    .edu_logo {
        margin: 0;
    }

    .edu_logo img {
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    #navcontent {
        flex-wrap: wrap;
    }

    #navcontent a {
        padding: 10px 10px 10px 10px;
    }

    #mid_logo {
        padding-left: 10px;
        padding-right: 10px;
    }

    .midlogo {
        width: 20%;
    }

    .midlogo img {
        width: 80%;
    }

}

@media screen and (max-width:1000px) {

    #content1 {
        flex-direction: column;
    }

    #info {
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    .line {
        flex-wrap: wrap;
    }
}