body {
    background-color: #f6f1f1;
    margin: 0 0 0 0;
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
}

#topnav a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

#logo {
    width: 10%;
}

#navcontent {
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

#title h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Inter', sans-serif;

}

.line {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

.work {
    position: relative;
}

.work img {
    width: 475px;
    opacity: 0.55;
}

.button {
    position: absolute;
    bottom: 8%;
    left: 40px;
}

.button button {
    font-size: 18px;
    background-color: #f6f1f1;
    border: 2px #f6f1f1 solid;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#footer {
    background-color: #19a7ce;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}

.footer_item {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 10px;
}

.footer_item img {
    width: 30px;
    height: 30px;
    background-color: #f6f1f1;
    padding: 10px 10px 10px 10px;
    border-radius: 270px;
    margin-right: 15px;
}

.footer_item a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

#footer_right {
    text-align: center;
    width: 25%;

}

#footer_right h1 {
    color: #f6f1f1;
    font-size: 40px;
}

#footer_right p {
    font-size: 24px;
}



@media screen and (max-width:1500px) {
    .line {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1000px) {
    #navcontent {
        flex-wrap: wrap;
        width: 80%;
    }

    .work {
        width: 100%;
    }

    .work img {
        width: 100%;
    }
}

@media screen and (max-width:800px) {

    #navcontent a {
        padding: 10px 10px 10px 10px;
    }

    #footer {
        flex-direction: column-reverse;
    }

    #footer_right {
        align-self: center;
        width: 50%;
    }

    #footer_left {
        align-self: center;
    }

}

@media screen and (max-width:480px) {
    #topnav {
        flex-direction: column;
    }

    #navcontent {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    #logo {
        width: 100%;
        text-align: center;
    }
}