body {
    background-color: #f6f1f1;
    margin: 0 0 0 0;
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
}

#topnav a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

#logo {
    width: 10%;
}

#navcontent {
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

#image {
    padding-left: 20px;
    padding-right: 20px;
}

#image img {
    width: 100%;
    text-align: center;
}

#text {
    padding-top: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 50px;
}

#text h1 {
    font-size: 36px;
}

#text p {
    font-size: 24px;
}

#service {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
}

#line1 {
    display: flex;
}

#line2 {
    display: flex;
}

.service1 {
    background-color: #19a7ce;
    padding: 30px 50px 20px 50px;
}

.service1_upper {
    display: flex;
}

.service2 {
    background-color: #146c94;
    padding: 30px 50px 20px 50px;
}

.service2 h1 {
    color: #f6f1f1;
}

.service2 p {
    color: #f6f1f1;
}

.service2_upper {
    display: flex;
}

.service_logo {
    margin: 20px 20px 0 20px;
}

.service_logo img {
    background-color: #f6f1f1;
    padding: 10px 10px 10px 10px;
    border-radius: 270px;
    width: 45px;
}

.text p {
    font-size: 18px;
    line-height: 1.4;
}

.button {
    display: flex;
    align-items: center;
    float: right;
    padding: 20px 0 20px;
}

.button img {
    background-color: #f6f1f1;
    width: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 270px;
    margin-right: 10px;
}

.button a {
    text-decoration: none;
    color: black;
}

#footer {
    background-color: #19a7ce;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    font-family: 'Epilogue', sans-serif;
}

.footer_item {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 10px;
}

.footer_item img {
    width: 30px;
    height: 30px;
    background-color: #f6f1f1;
    padding: 10px 10px 10px 10px;
    border-radius: 270px;
    margin-right: 15px;
}

.footer_item a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

#footer_right {
    text-align: center;
    width: 25%;

}

#footer_right h1 {
    color: #f6f1f1;
    font-size: 40px;
}

#footer_right p {
    font-size: 24px;
}


@media screen and (max-width:1000px) {
    #navcontent {
        flex-wrap: wrap;
        width: 80%;
    }
}

@media screen and (max-width:900px) {

    #navcontent a {
        padding: 10px 10px 10px 10px;
    }

    #line1 {
        flex-wrap: wrap;
    }

    #line2 {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width:800px) {
    #footer {
        flex-direction: column-reverse;
    }

    #footer_right {
        align-self: center;
        width: 50%;
    }

    #footer_left {
        align-self: center;
    }
}

@media screen and (max-width:480px) {
    #topnav {
        flex-direction: column;
    }

    #navcontent {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .service1 {
        padding: 0;
    }

    .service2 {
        padding: 0;
    }

    #logo {
        width: 100%;
        text-align: center;
    }

    .button {
        padding-right: 20px;
    }
}